<app-carousel></app-carousel>
<section>
    <div>
        <div class="card-text">
            <h2>Vestido e Macaquinho Linho Field Bege</h2>
            <p>Inspirado na leveza dos movimentos sem perder a elegância e o charme em sua silhueta</p>
            <button class="btn">CONFIRA PEÇA</button>
        </div>
        <img src="../../../assets/card1.png" class="card-image-1" alt="Product card one">
        <img src="../../../assets/card2.png" class="card-image-2 shadow-lg" alt="Product card two">
    </div>
</section>
<app-banner></app-banner>