.banner {
    top: 400px;
  
    .card-img-overlay {
      top: 250px;
      font-weight: 300;
      left: 130px;
  
      .card-text {
        font-size: 3rem;
      }
  
      .card-title {
        font-size: 6rem; 
      }

      p {
        max-width: 400px;
        line-height: 50px;
      }

      button {
        border-radius: 100px;
        background-color: #2C2C33;
        color: #EEEEEE;
      }
  
    }
  }
  